<mat-progress-bar mode="query" *ngIf="authService.enableProgressBar"></mat-progress-bar>
<p>
    <mat-toolbar color="primary">
        <span><img src="../../assets/icons/travel-diary/icon-45x45.png"></span>
        <span style="position: absolute;left: 70px;">Travel Diary</span>
    </mat-toolbar>
</p>  
<mat-card>
    <mat-card-header>
        <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="register()">
            <mat-form-field class="full-width-input"> 
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="email" required>
                <mat-icon matSuffix>alternate_email</mat-icon>
            </mat-form-field>
            <mat-form-field class="full-width-input"> 
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" required>
                <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>  
            <button mat-button color="primary" class="mat-raised-button">Register</button><br>  
        </form>
    </mat-card-content>
    <mat-card-actions>
        Already have an account? Login 
        <a routerLink="/login">here</a>
    </mat-card-actions>
</mat-card>
