<mat-progress-bar mode="query" *ngIf="enableProgressBar"></mat-progress-bar>
<p>
    <mat-toolbar color="primary">
        <span><img src="../../assets/icons/travel-diary/icon-45x45.png"></span>
        <span style="position: absolute;left: 70px;">Travel Diary</span>
        <div style="position:absolute; right:10px;">
            <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="More Actions">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="authService.signOut()">
                  <span>Sign Out</span>
                  <mat-icon style="padding-left: 5px;">exit_to_app</mat-icon>
                </button>
            </mat-menu>
        </div>
    </mat-toolbar>
</p>  
<div style="margin-left: 10px;margin-right: 5px;">
    <h2>My Timeline</h2>
    <div *ngIf="entries?.length > 0;">
        <mgl-timeline [toggle]="toggle" [alternate]="alternate" [side]="side">
            <mgl-timeline-entry *ngFor="let entry of entries">
                <mgl-timeline-entry-header>
                    <div *ngIf="entry.payload.doc.data().latitude && entry.payload.doc.data().longitude">
                        <app-entry-location [lat]="entry.payload.doc.data().latitude" [long]="entry.payload.doc.data().longitude"></app-entry-location>
                    </div>
                    <div *ngIf="entry.payload.doc.data().customLocationText">
                        {{entry.payload.doc.data().customLocationText}}
                    </div>
                </mgl-timeline-entry-header>
                <mgl-timeline-entry-content>
                    <div *ngIf="entry.payload.doc.data().addInfo">
                        <b>Info</b> : {{entry.payload.doc.data().addInfo}}<br>
                    </div>
                    <b>Time</b> : {{entry.payload.doc.data().time}} <br>
                    <b>Date</b> : {{entry.payload.doc.data().date.toDate() | date:'dd/MM/yyyy'}} <br>
                    <div *ngIf="entry.payload.doc.data().peopleContacted.length">
                        <b>People Contacted</b> : {{entry.payload.doc.data().peopleContacted}}
                        <br>
                    </div>
                    <div *ngIf="entry.payload.doc.data().locationsVisited.length">
                        <b>Locations Visited</b> : {{entry.payload.doc.data().locationsVisited}}
                        <br>
                    </div>
                    <button mat-icon-button color="warn" matTooltip="Delete" (click)="deleteEntry(entry)"><mat-icon>delete</mat-icon></button>
                </mgl-timeline-entry-content>
                <mgl-timeline-entry-dot 
                style="background-color: #a78cd4; color: #fff" 
                [size]="size"
                [expandAnimationTiming]="dotAnimation ? '200ms ease' : '0ms'"
                [collapseAnimationTiming]="dotAnimation ? '100ms ease' : '0ms'"
                ></mgl-timeline-entry-dot>    
            </mgl-timeline-entry>
        </mgl-timeline>
    </div>
    <div *ngIf="entries?.length == 0">
        <p>No Entries! Click the <b>+</b> button to add one.</p>
    </div>
</div>
<app-add-btn></app-add-btn>