<mat-progress-bar mode="query" *ngIf="authService.enableProgressBar"></mat-progress-bar>
<p>
    <mat-toolbar color="primary">
        <span><img src="../../assets/icons/travel-diary/icon-45x45.png"></span>
        <span style="position: absolute;left: 70px;">Travel Diary</span>
    </mat-toolbar>
</p>  
<mat-card>
    <mat-card-header>
        <mat-card-title>Forgot Password</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="form">
            <mat-form-field class="full-width-input"> 
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email">
                <mat-icon matSuffix>alternate_email</mat-icon>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="primary" class="mat-raised-button" (click)="resetPassword()">Reset Password</button><br>
        <button mat-button mat-dialog-close color="warn" routerLink="/login">Back to Login</button>
    </mat-card-actions>
</mat-card>
