<h2 mat-dialog-title>Add Entry</h2>
<mat-dialog-content class="mat-typography" [formGroup]="form" >
    <span *ngIf="!customLocation">
        <mat-icon color="primary"> my_location</mat-icon> {{address}}
        <br><br>
    </span>
    <mat-form-field>
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="dp" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
    </mat-form-field>
    <br>
    <mat-form-field> 
        <mat-label>Time</mat-label>
        <input matInput type="time" formControlName="time">
    </mat-form-field>
    <!-- <br> -->
    <mat-form-field style="display: none;">
        <input type="text" matInput [(ngModel)]="latitude" formControlName="latitude">
    </mat-form-field>
    <!-- <br> -->
    <mat-form-field style="display: none;">
        <input type="text" matInput [(ngModel)]="longitude" formControlName="longitude">
    </mat-form-field>
    <br>
    <mat-form-field class="chip-list" style="width: 100%;">
        <mat-chip-list #chipListPeople formControlName="peopleContacted">
            <mat-chip (removed)="removePerson(name)" *ngFor="let name of people" [selectable]="selectable"
            [removable]="removable">
            {{name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="People Contacted"
                    [matChipInputFor]="chipListPeople"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="addPerson($event)">
        </mat-chip-list>
    </mat-form-field>
    <br>
    <mat-form-field class="chip-list" style="width: 100%;">
        <mat-chip-list #chipListLocation formControlName="locationsVisited">
            <mat-chip (removed)="removeLocation(location)" *ngFor="let location of locations" [selectable]="selectable"
            [removable]="removable">
            {{location}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="Locations Visited"
                    [matChipInputFor]="chipListLocation"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="addLocation($event)">
        </mat-chip-list>
    </mat-form-field>
    <mat-form-field>
    <mat-label>Additional Info (optional)</mat-label>
        <textarea matInput formControlName="addInfo"></textarea>
    </mat-form-field>
    <mat-checkbox color="primary" (change)="enableCustomLocation($event)">Custom Location</mat-checkbox>
    <mat-form-field *ngIf="customLocation">
        <br> 
        <mat-label>Enter Location</mat-label>
        <input matInput type="text" formControlName="customLocationText">
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close color="warn" >Cancel</button>
    <button mat-button color="primary" cdkFocusInitial class="mat-raised-button" (click)="save()">Submit</button>
</mat-dialog-actions>